<div fxLayout="row warp" fxLayoutAlign="center" style="height:100vh">
  <div fxFlex="40%" fxFlex.xs="90%" fxLayoutAlign="center center" align="center">

    <mat-card class="mat-elevation-z3">
      <mat-card-content>
        <div fxFlex="100%" fxFlex.xs="100%">

          <div align="center">
            <img src="./assets/images/Logo.png" style="width: 60px;">
          </div>
          <h2 mat-dialog-title align="center">
            Login
          </h2>
          <form class="login-main-form" name="form" (ngSubmit)="(f.form.valid) && login() " #f="ngForm">
            <mat-dialog-content class="mat-typography">
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" type="text" name="username" [(ngModel)]="form.username"
                  #username="ngModel" required />
                <mat-icon matSuffix>account_circle</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="form.password"
                  #password="ngModel" required />
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>

              <div style="color: red;" align="center" *ngIf="isLoginFailed">
                <span class="material-icons-outlined" style="font-size: 15px">
                  info
                </span>
                Invalid Username or Password
              </div>
              <br>
              <div align="center" fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="45%" fxLayoutAlign="end">

                  <a routerLink="/register">
                    Create Account
                  </a>
                </div>
                <p fxFlex="10%">|</p>
                <div fxFlex="45%" fxLayoutAlign="start">
                  <a routerLink="/forgotpass">
                    Forgot Password?
                  </a>
                </div>
              </div>
              <br>
            </mat-dialog-content>
            <mat-dialog-actions align="center" fxLayout="row wrap">
              <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="center center">
                <button mat-button mat-raised-button class="primary" type="submit" fxFlex="65%"
                  fxFlex.xs="100%">Login</button>
              </div>
            </mat-dialog-actions>
            <p></p>
          </form>

        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
