.span-select {
  font-size: 2em;
  line-height: 2em;
  // on mobile smaller size
  @media (max-width: 767px) {
    font-size: 1em;
    line-height: 1em;
  }
}

.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  pointer-events: none;
}
