<div style="height: 100vh;">




  <!-- make 5 circle that the menu on the bottom of screen -->
  <!--  -->
  <div class="toolbarNav">
    <div class="circle" style="background-color: #FFC107;">
      <mat-icon>
        home
      </mat-icon>
    </div>
    <div class="circle" style="background-color: #FF5722;"></div>
    <div class="circle circle-active" style="background-color: #4CAF50;">
      <mat-icon>
        home
      </mat-icon>
    </div>
    <div class="circle" style="background-color: #2196F3;"></div>
    <div class="circle" style="background-color: #9C27B0;"></div>
  </div>
</div>