.toolbarNav {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: inline-flex;
  justify-content: center;
  padding: 2em;
  width: 100vw;
  // make verticle align end
  vertical-align: bottom;
  flex-wrap:wrap-reverse;
  // media screen mobile make justify-content
  // center
  @media (max-width: 768px) {
    justify-content: space-around;
  }
}

.circle {
  width: 50px;
  height: 50px;
  bottom: 0;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 0 0.5em;
  text-align: center;
  line-height: 50px;
  font-size: 1.5em;
  color: #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #ccc;
    color: #fff;
    // resize to bigger
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 2em;
    // with animation
    animation: circle-hover 0.3s ease;
  }
  // make text is verticle end
  &::after {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    height: 100%;
  }
}

.circle-active {
  // bigger size circle
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 2em;
  color: #fff;
  background-color: #ccc;
}
