<div style="height: 100vh; overflow-y:hidden;">
  <div fxFlex="100%" fxLayoutAlign="center start" fxLayoutAlign.xs="center center" fxLayout="row wrap"
    fxLayoutGap="8px grid">

    <div fxFlex="100%" fxLayoutAlign="center center">
      <div fxFlex="40%" fxFlex.xs="20%">

      </div>
      <div fxFlex="20%" fxFlex.xs="60%">
        <img src="assets/images/Logo.png" fxFlex="100%">
      </div>
      <div fxFlex="40%" fxFlex.xs="20%" fxLayoutAlign="center start">
        <img src="assets/images/bigcheat.png" fxFlex="30%" fxFlex.xs="100%">
      </div>
    </div>
    <div fxFlex="70%" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="9px grid">
      <div fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center" fxLayout="row wrap">
        <!-- color overlay -->
        <span class="span-select">
          Select Me! Cheat Day Coming
        </span>
        <img src="assets/images/{{img.left}}" fxFlex="80%" style="border-radius: 5%;cursor: pointer;"
          [class.grayscale]="daily_select == 2" (click)="selectleft()">
      </div>
      <div fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center" fxLayout="row wrap">
        <span class="span-select">
          Select Me! More Cheat Day
        </span>
        <!-- Execise Discount 10% -->
        <!-- class grayscale if condition -->

        <img src="assets/images/{{img.right}}" fxFlex="80%" style="border-radius: 5%;cursor: pointer;"
          [class.grayscale]="daily_select == 1" (click)="selectright()">
      </div>
    </div>
  </div>



  <!-- make 5 circle that the menu on the bottom of screen -->
  <!--  -->
  <div class="toolbarNav">
    <div class="circle" style="background-color: #FFC107;" routerLink="/profile">
      <mat-icon>
        person
      </mat-icon>
    </div>
    <div class="circle" style="background-color: #FF5722;" routerLink="/storage">
      <mat-icon>
        storage
      </mat-icon>
    </div>
    <div class="circle circle-active" style="background-color: #4CAF50;" routerLink="/">
      <mat-icon>
        home
      </mat-icon>
    </div>
    <div class="circle" style="background-color: #2196F3;" routerLink="/map">
      <mat-icon>
        pin_drop
      </mat-icon>
    </div>
    <div class="circle" style="background-color: #9C27B0;" routerLink="/history">
      <mat-icon>
        history
      </mat-icon>
    </div>
  </div>
</div>
