/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

$background: rgb(255, 255, 255);
$font: Prompt, sans-serif;

html,
body {
  margin: 0;
  font-family: $font;
  background-color: $background;
  //overflow: hidden;
}

* {
  font-family: $font;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #343534;
}

//mat-input focused color
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: hsl(4, 100%, 42%);
  // color :#DD312F;
}

/*change color of label*/
.mat-focused .mat-form-field-label {
  color: rgb(38, 39, 38) !important;
}

// mat-input error outline color
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: rgb(255, 142, 142);
}

.mat-menu-item {
  font-family: $font;
}

.companyName {
  font-family: $font;
  font-weight: 600;
  font-size: 100%;
}

.mat-toolbar {
  height: 55px;
}

.sidenav-link {
  padding-top: 160px !important;
  position: fixed !important;
  background-color: rgba(64, 143, 143, 0.774);
  color: white;
}

a.sidebar-button:link {
  color: white;
  font-size: 10pt;
}

a {
  font-family: $font;
  // text-decoration: none;
  cursor: pointer;
  font-size: 85%;
  white-space: normal;
  color: rgb(0, 0, 0);
}

button {
  min-width: min-content;
}

.web-spacer {
  flex: 1 1 auto;
}

// .toolbar-button:link {
//   color: red;
// }

// /* visited link */
// .toolbar-button:link {
//   color: green;
// }

/* mouse over link */
.toolbar-button:hover {
  color: rgb(96, 255, 149);
}

/* selected link */
.toolbar-button:link {
  font-family: $font;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.toolbar-button > a[ng-reflect-router-link] {
  color: rgb(255, 255, 255);
}

.sidebar-button:link {
  text-align: left;
  font-family: $font;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky;
  /* For macOS/iOS Safari */
  top: 0;
  /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  /* Ensure that your app's content doesn't overlap the toolbar */
  background-color: rgb(60, 160, 138);
  color: white;
}

// .custom-container{
//   padding-left: 15vh;
//   padding-right: 15vh;
//   padding-top: 15px;
// }

.main-fx {
  padding-top: 155px;
  background-color: $background;
  display: flex;
  word-wrap: break-word;
}

.mat-button {
  font-weight: 600;
}

i {
  font-size: 20px;
  padding-right: 5px;
}

.profile-img {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 2px solid rgb(14, 114, 196);
}

.main-cardstyle {
  background-color: rgba(255, 255, 255, 0.9);
}

.mat-dialog-title,
.mat-h2,
.mat-title,
.mat-typography .mat-h2,
.mat-typography .mat-title,
.mat-typography h2 {
  font-family: $font;
}

.swal2-title {
  font-family: $font !important;
  font-size: 18pt !important;
}

mat-form-field {
  width: 100%;
}

p {
  font-family: $font;
}

.component-layout {
  padding-top: 30px;
  padding-bottom: 15px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.full-width {
  width: 100%;
}

.app-header-text {
  color: #dd312f;
}

mat-card {
  line-height: 1.2;
}

.container {
  padding-top: 25px;
  padding-bottom: 30px;
}

button {
  white-space: pre-wrap !important;
}

.primary {
  background-color: #dd312f;
  color: white;
}

.primary:disabled {
  background-color: rgb(158, 158, 158);
  color: rgb(179, 179, 179);
}

.padding-stepper {
  padding-top: 40px !important;
}

.mat-radio-label-content,
.mat-checkbox-label {
  white-space: normal !important;
}

.mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: rgb(0, 90, 83) !important;
}

.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: rgb(0, 170, 156) !important;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  opacity: 0 !important;
  /*click effect color change*/
  background-color: rgb(0, 170, 156) !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: rgb(0, 170, 156) !important;
  /*inner circle color change*/
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(0, 170, 156) !important;
  /*outer ring color change*/
}

.mat-icon {
  vertical-align: middle;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: rgb(0, 90, 83);
}

// .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon {
  background-color: rgb(124, 124, 124) !important;
}

.mat-step-header .mat-step-icon-selected {
  background-color: rgb(0, 136, 125) !important;
}

.card-news {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.card-news:hover {
  cursor: pointer;
  color: rgb(10, 153, 98);
  box-shadow: 2px 2px 4px #00000048;
}

img {
  width: 100%;
}

.home-btn {
  background-repeat: no-repeat;
  padding: 0;
  width: 100%;
  border-radius: 0px;
}

.home-btn:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px #00704fcc;
}

.text-start {
  text-align: start;
}

.mainplan {
  // border: 2px solid rgb(0, 90, 83) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 90, 83, 0.2),
    0 6px 20px 0 rgb(0, 90, 83, 0.19);
  background-color: rgb(91, 190, 154);
}

.elective {
  // border: 2px solid rgb(0, 90, 83) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 90, 83, 0.2),
    0 6px 20px 0 rgb(0, 90, 83, 0.19);
  background-color: rgba(247, 225, 167, 0.945);
}

.card-success {
  color: green;
}

.card-fail {
  color: red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.mat-line {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

.mat-list-option2 {
  height: 70px !important;
  background-color: rgb(218, 255, 229);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgb(132, 221, 191);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: rgb(141, 141, 141);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.closebtn {
  position: absolute;
  z-index: 1003;
  top: 0;
  right: 5px;
  margin: 5px;
}

.font14 {
  font-size: 14pt;
}

.font16 {
  font-size: 16pt;
}

.font18 {
  font-size: 18pt;
}
