<div style="height: 100vh; overflow-y:hidden;">

  <div fxFlex="100%" fxLayoutAlign="center center">

  </div>


  <!-- make 5 circle that the menu on the bottom of screen -->
  <!--  -->
  <div class="toolbarNav">
    <div class="circle circle-active" style="background-color: #FFC107;" routerLink="/profile">
      <mat-icon>
        person
      </mat-icon>
    </div>
    <div class="circle" style="background-color: #FF5722;" routerLink="/storage">
      <mat-icon>
        storage
      </mat-icon>
    </div>
    <div class="circle" style="background-color: #4CAF50;" routerLink="/">
      <mat-icon>
        home
      </mat-icon>
    </div>
    <div class="circle" style="background-color: #2196F3;" routerLink="/map">
      <mat-icon>
        pin_drop
      </mat-icon>
    </div>
    <div class="circle" style="background-color: #9C27B0;" routerLink="/history">
      <mat-icon>
        history
      </mat-icon>
    </div>
  </div>
</div>
